{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h3>Register a new account</h3>
    </div>

    <div class="card-body">
        <form method="post" action="{{ url_for('auth.register') }}" novalidate>
            {{ form.csrf_token }}

            <div class="row g-3">
                <div class="col-12">
                    <div class="form-floating">
                        {{ form.email(class="form-control", placeholder="email address") }}
                        {{ form.email.label }}
                        <div class="invalid-feedback">
                            Please enter a valid email address.
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating">
                        {{ form.username(class="form-control", placeholder="username") }}
                        {{ form.username.label }}
                        <div class="invalid-feedback">
                            Please enter a username.
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-floating">
                        {{ form.password(class="form-control", placeholder="password") }}
                        {{ form.password.label }}
                        <div class="invalid-feedback">
                            Please enter a password.
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-floating">
                        {{ form.confirm(class="form-control", placeholder="confirm password") }}
                        {{ form.confirm.label }}
                        <div class="invalid-feedback">
                            Please confirm your password.
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-dark">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='validate_form.js') }}"></script>
{% endblock %}
